* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvtica, sans-serif;
  background-color: blueviolet;
}

.header {
  font-family: 'Times New Roman', Times, serif;
  background-color: red;
  padding: 30px;
  text-align: center; 
  font-size: 35px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

.row {
  content:"";
  display: table;
  clear: both;

}

img {
  border-radius: 5px;
  image-rendering: crisp-edges;
  padding: 5px;
  width: 336px;
}