body{
  background-color: red; 
}

.header{
  padding: 60px;
  text-align:center;
  background: lightblue; 
}

img{
  align-content:center;
  padding: 5px;
  width: 321px;
}

.body{
  text-align: center;
}