body{
  background-color: red; 
}

.header{
  padding: 60px;
  text-align:center;
  background: lightblue;
  
}

img{
  border: 1px solid #ddd;
  text-align:center;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}
